# Ignore everything
*

# But not these files...
!*.R
!renv.lock
!.gitignore
!.renvignore

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
#!*/a/b/file1.txt
#!*/a/b/c/*
.Rproj.user
old/
all_lmds/
scripts/preprocessing
scripts/kknms
